*{
    margin: 0%;
    padding:0%
}
body{
    background-color: bisque;
  }
.header {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
div.main{
    background-color: #ffffff;
    margin-top:20px;
    margin-left:50px;
    margin-right:50px; 
    margin-bottom: 20px;
    height:450px; 
    align-self: center;
    
    
    
}

.navbar ul{
    list-style: none;
    background: #bd1e43;
    padding: 0;
    margin: 0;
    text-align: center;
}
.navbar li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    color: white;
    width:150px;
    display: block;
    padding: 10px 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial;
    text-align: center;
    font-size: 14px;
}
.navbar a:hover{
    background: #353640;
    align-self: right;
}
div.info{
/* display: grid; */
/* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) */
padding: 2em;
/* grid-gap:2em; */
border-radius: 1em;
box-shadow: 10px 10px 30px rgb(0,0,0,0.1);
text-align:center;
}

h2{
    font-size: 30px;
    margin-top:5px;
    
}
img{
    width:200px;
    height:200px;
    
    
}
footer{
    background-color: #bd1e43;
    color: #ffffff;
    text-align: center;
} 
div p{
    padding:5px;
    margin:4px
}
.inside{
    margin-left:30px
}